.footer__column-link {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  color: #fff;
  text-decoration: none;
  padding-left: 0;
}
