.footer__column-link {
  margin: 0;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style-type: none;
}
