  .content__techniques {
    margin: 0 auto;
    width: 80%;
    padding-top: 100px;
  }
  
  .techniques__cards {
    width: 920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .techniques__cards__item {
    margin-right: 100px;
    width: 240px;
  }
  
  .techniques__cards__item:nth-of-type(3) {
    margin-right: 0;
  }
  
  .techniques__cards__block-for-image {
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    overflow: hidden;
  }
  
  .techniques__cards__image {
    margin: auto;
    width: 160px;
    height: 160px;
  }
  
  .techniques__cards__title {
    margin-bottom: 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .techniques__cards__description {
    margin-bottom: 60px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }