  .content__description {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .description__two-columns__paragraph {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .description__two-columns__paragraph-no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .description__two-columns__span-accent {
    font-weight: 600;
    line-height: 34px;
    font-size: 24px;
  }