@import url(../vendor/normalize.css);

@import url(./images);
@import url(../blocks/root/root.css);
@import url(../blocks/link/link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/two-columns/two-columns.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/content/__description/content__description.css);
@import url(../blocks/content/__digits/content__digits.css);
@import url(../blocks/content/__kaufman/content__kaufman.css);
@import url(../blocks/content/__techniques/content__techniques.css);
@import url(../blocks/content/__resources/content__resources.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/section-title/_inverted/section-title_inverted_color.css);
@import url(../blocks/section-subtitle/_inverted/section-subtitle_inverted_color.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);


@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url(../fonts/Inter-Bold.woff) format('woff'),
       url(../fonts/Inter-Bold.woff2) format('woff2')    
}

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url(../fonts/Inter-Regular.woff) format('woff'),
       url(../fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url(../fonts/Inter-SemiBold.woff) format('woff'),
       url(../fonts/Inter-SemiBold.woff2) format('woff2');
}
